html,
.mantine-AppShell-body {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
.mantine-AppShell-body::-webkit-scrollbar {
  display: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.slide-up {
  animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
